@{
    string role = ViewData["role"].ToString();
    var titlePlaceholder = (role == "Admin") ? "Teacher" : "Student";
    var returnUrl = $"/{role}/Manage{titlePlaceholder}s";
    ViewData["Title"] = $"Create New {titlePlaceholder}";
}
<div class="status-message-box" id="creating-user">
    <p class="status-message"><i class='fa fa-spinner fa-pulse status-message-icon'></i><br />Creating</p>
</div>
<div class="status-message-box" id="create-user-success">
    <p class="status-message"><i class="fas fa-check-circle text-success status-message-icon"></i><br />User Created!</p>
</div>
<div class="status-message-box" id="create-user-failed">
    <p class="status-message"><i class="fas fa-exclamation-triangle text-danger status-message-icon"></i><br />User Creation Failed!</p>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-action="Index" asp-controller="Home" id="btnBack" class="btn btn-success btn-block"><i class="fas fa-sign-out-alt"></i> Back</a>
    </div>
    <div class="col-md-9"></div>
</div>
<div class="text-center">
    <h1 class="display-4">Add New @titlePlaceholder</h1>
</div>
<div class="col-lg-8 mx-auto mt-3">
    <div class="card">
        <div class="card-body">
            <h2 class="text-info">@titlePlaceholder Information</h2>
            <form>
                <div id="errorMsgAlertBox" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                    <span id="errorMsgAlert"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group row">
                    <label for="tbName" class="col-sm-2 col-form-label">Full Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tbName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbUsername" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tbUsername">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="tbPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <span id="btnSubmit" class="btn btn-primary btn-block">Create</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#errorMsgAlertBox').addClass('d-none');
        $('#errorMsgAlert').text('');

        $("#btnSubmit").click(function (e) {
            $('#creating-user').show();
            e.preventDefault();
            if ($('#tbPassword').val() != '') {
                submitForm();
            }
            else {
                $('#creating-user').hide();
                $('#create-user-failed').show();
                setTimeout(function(){$('#create-user-failed').hide();}, 3000);
            }
        });

        function submitForm() {
            function WebFormData(name, username, password) {
                this.FullName = name;
                this.UserName = username;
                this.PasswordHash = password;
                this.Role = "@titlePlaceholder";
            }
            var webFormData = new WebFormData($("#tbName").val(), $("#tbUsername").val(), $("#tbPassword").val());

            var webFormDataInString = JSON.stringify(webFormData);

            console.log(webFormData);
            console.log(webFormDataInString);

            $.ajax({
                url: "/user/create",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: webFormDataInString,
                success: function (response) {
                    if (response["statusCode"] == 404) {
                        $('#creating-user').hide();
                        $('#create-user-failed').show();
                        setTimeout(function(){$('#create-user-failed').hide();}, 3000);
                        $('#errorMsgAlertBox').removeClass('d-none');
                        $("#errorMsgAlert").text(response["message"]);
                    }
                    else {
                        $('#creating-user').hide();
                        $('#create-user-success').show();
                        setTimeout(function(){location.replace('@returnUrl');}, 3000);
                    }
                },
                error: function (error) {
                    console.log(error);
                    $('#creating-user').hide();
                    $('#create-user-failed').show();
                    setTimeout(function(){$('#create-user-failed').hide();}, 3000);}
            });
        }
    });</script>